<nav>
    <div class="header-bar">
      <div class="logo-header raleway-bold">
        <a routerLink ="/Home"><h1>Film Freak</h1></a>
      </div>
      <div class="search-container">
        <input type="text" placeholder="Todavia no es funcional :)">
        <button type="submit">Buscar</button>
      </div>
      <div class="options-header raleway-normal">
         
        <a href="#sectionTeatros"><p class="option">En teatros</p></a>
        <a href="#sectionPopular"><p class="option">Populares</p></a>
        <a href="#sectionTrailers"><p class="option">Trailers</p></a>
        
        <a href="search.html">
          <div class="option-search">
            <p>Filtrar Pelis</p>
            <i class="bi bi-search"></i>
          </div>
        </a>
      </div>
    </div>
  </nav>