<section class="more-popular-hero">
    <a href="" class="headerURL" id="headerURL">
      <div class="container-principal-popular">
        <div class="container-backdrop-popular" id="myHeader">
          <!-- <h2 class="" id="title_hero">Titulo</h2> -->
        </div>
        <div class="container-info-popular">
          <div class="format-container-info-popular">
            <img class="poster-popular" id="posterHeaderPopular" src="" alt="poster">
            <div class="play-button"><i class="bi bi-play-circle-fill"></i></div>
            <div class="titles-popular">
              <h2 id="titlePopular" class="raleway-bold">Titulo</h2>
              <p id="generosPopular" class="raleway-normal">Frase</p>
            </div>
            <!-- <div class="">
              <p id="sinopsis_hero"></p>
            </div> -->
          </div>
        </div>
      </div>
    </a>
  </section>

  <a href="search.html">
    <section class="container-invitation-filter raleway-bold">
      <p>¿Buscas una pelicula?</p>
      <p>Presiona aquí</p>
    </section>
  </a>
  <main>
    <section class="section-in-theaters" id="sectionTeatros">
      <h3 class="raleway-bold">Ahora mismo en teatros</h3>
      <div class="contenedorTeatros raleway-normal" id="containerTheaters"></div>
    </section>
    <section class="section-popular" id="sectionPopular">
      <div class="header-section-pelis">
        <h3 class="raleway-bold">Populares</h3>
        <div class="paginacion raleway-normal">
          <button id="btnAnterior"><i class="bi bi-arrow-left-circle-fill"></i></button>
          <p id="paginaPopular"></p>
          <button id="btnSiguiente"><i class="bi bi-arrow-right-circle-fill"></i></button>
        </div>
      </div>
      <div class="contenedor" id="contenedor"></div>
    </section>
    <section class="section-top-rated">
      <div class="header-section-pelis">
        <h3 class="raleway-bold">Lo mejor valorado</h3>
        <div class="paginacion raleway-normal">
          <button id="btnAnteriorTopRated"><i class="bi bi-arrow-left-circle-fill"></i></button>
          <p id="mostrarPaginaTopRated"></p>
          <button id="btnSiguienteTopRated"><i class="bi bi-arrow-right-circle-fill"></i></button>
        </div>
      </div>
      <div class="contenedor" id="contenedorTopRated"></div>
    </section>
    <section class="section-trailers" id="sectionTrailers">
      <h3 class="raleway-bold">Trailers & Videos</h3>
      <div class="contenedorTrailers" id="contenedorTrailers"></div>
    </section>
  </main>
  <footer>
    <hr>
    <div class="info-footer">
      <p class="first-row-footer raleway-normal">© 2024 - <a href="https://github.com/SantiagoVillamilC/Film-Freak" target="_blank" rel="noopener noreferrer"><i
            class="bi bi-github"></i>Santiago Villamil</a></p>
      <a href="#header" class="second-row-footer">
        <div class="logo-header raleway-bold">
          <h1>Film Freak</h1>
        </div>
      </a>
      <div class="elements-footer third-row-footer">
        <a href="https://www.themoviedb.org" target="_blank" rel="noopener noreferrer" class="elements-footer raleway-normal">
          <p class="raleway-normal">API TMDB</p>
          <i class="bi bi-camera-reels-fill"></i>
        </a>
      </div>
    </div>
  </footer>